@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-clr: #63cdda;
    --secondary-clr: #3dc1d3;
    --text-clr: #141414;
    --white-clr: #ffffffff;
}


/* General Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html,
body {
    height: 100vh;
}

a {
    text-decoration: none;
    color: var(--main-clr);
}

a:hover {
    color: var(--secondary-clr);
}

.container {
    margin-left: 87px;
    margin-right: 87px;
}

.page-title {
    font-size: 1.6rem;
    margin: 1rem 0 .5rem;
}

/* Header & Nabigation */
header {
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav-logo {
    font-size: 1.5rem;
    color: var(--text-clr);
}

.nav-menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-menu a {
    color: var(--text-color);
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: var(--secondary-clr);
}

.active {
    color: var(--main-clr);
}



/* Home Content */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-intro {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
}

.title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.home-bio {
    font-size: 1rem;
    margin-bottom: 20px;
}

.social-links {
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.social-links li a {
    color: var(--text-clr);
    font-size: 1.25rem;
}



/* Research Content */
.research-interest {
    margin-left: 30px;
}


/* Contact Content */
.contact-column {
    display: flex;
    gap: 20px;
}

.contact-socials {
    list-style: none;
}


/* Footer */
footer {
    margin-top: 20px;
    text-align: center;
}

.footer-note {
    color: #333;
}